html{
    scroll-behavior:smooth;
  }
     
      /* @font-face {
      font-family: "Garet";
      src: url('Garet/Garet-Book.otf');
      src: url('Garet/Garet-Book.otf') format('otf'),
           url('Garet/Garet-Book.woff2') format('woff2'),
           url('Garet/Garet-Book.woff') format('woff'),
           url('Garet/Garet-Book.ttf') format('truetype');
    }
    @font-face {
      font-family: "Dream";
      src: url('Dream-Avenue/Dream-Avenue.otf');
      src: url('Dream-Avenue/Dream-Avenue.otf') format('otf'),
           url('Dream-Avenue/Dream-Avenue.ttf') format('truetype');
    }
    @font-face {
      font-family: "Quintessential";
      src: url('Quintessential/OFL.txt');
      src: url('Quintessential/Quintessential-Regular.ttf') format('ttf');
    } */
      .abcontabg{
      background-image: url('bg10.jpg');
      width: 100%;
      height: 600px;
      background-repeat:no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
      background-attachment: fixed;
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
      }
      .formdivv{
          padding-top:600px;
      }
      .formdiv{
          width:800px;
          height:200px;
          background-color:#292731;
      }
      .contact1{
          font-family:'dream','sans-sarif';
          letter-spacing:2px;
          font-weight:500;
          color:#E89FAD;
          font-size:90px;
          text-align:center;
          padding-top:20px;
      }
      .contact-descri{
          color:white;
          padding-left:20px;
          padding-right:20px;
          font-family:'garet','sans-serif';
          font-weight:600;
          font-size:15px;   
          font-weight:100; 
          text-align:center;
          padding-top:10px;
      }
      .conta_box1{
      background-color:white;
      border-radius: 40%;
      padding: 20px;
      box-sizing: border-box;
      height: 450px;
      width:max-content;
      /* border-radius: 12px; */
      padding-top: 20px;
      border-radius: 1rem;
      box-shadow: 0 2px 8px #00000026;
    }
      
      .iconrow{
          display:flex;
          flex-direction:row;
          width:100%;
          align-items:center; 
          justify-items:center;
          justify-content:space-around;
          padding-top:100px;   
      }
      .phone img{
          height:80px;
          padding-left:20px;
          width:80px;
      }
      .phone img:hover{
      transition: 0.9s;
          transform: rotate(360deg);}
          .email img:hover{
      transition: 0.9s;
          transform: rotate(360deg);}
          .address img:hover{
      transition: 0.9s;
          transform: rotate(360deg);}
      .email img{
          height:80px;
          width:80px;
          padding-left:45px;
         align-items:center;
         justify-content:center;
         justify-items:center;
      }
      .address{
          padding-left:40px;
      }
      .address img{
          height:80px;
          width:80px;
      }
      .ab{
          font-family:'garet';
          padding-top:130px;
          font-size:25px;
          color:rgb(74,74,74);
          text-align:center;
          padding-left:30px;
          padding-right:30px;
          text-align:center;
          
      }
     .email{
      justify-content:center;
      align-items:center;
      justify-items:center;
     }
     .about_contain{
      background-image: url('bg10.jpg');
      width: 100%;
      text-align:center;
      height:600px;
      justify-content:space-around;
      padding-left:30px;
      padding-top:0px;
      align-items: bottom;
      padding-right:30px;
      background-attachment: fixed;
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               font-family:'dream';
              color: white;
              width:100%;
              font-size:110px;
              letter-spacing: 2.5px;
     }
     .ty{
        padding-top: 450px;
        display:flex;
        flex-direction:column;
        text-align: center;
        align-items: center;
        padding-bottom: 80px;
    }
    .ty h3{
        font-family:'dream';
        color:white;
        font-size:8rem;
      
        margin-bottom: -20px;
    }
     .map{
      flex:1;
     }
     .form{
      flex:1;
      padding-left:200px;
     }
     .te1{
      padding-top:40px;
      font-family:'dream';
      font-weight:500;
      font-size:60px;
      text-align:center;
      color:rgb(74,74,74);
     
     }
     .fb-page{
      padding-top:100px;
      padding-left:450px;
      
     }